@page
@model FribergCarRentalsRazorPages.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="center">Remove a customer account from the system</h1>

<div class="div-center-list-booking">
    <div class="div-list-background-booking">
        <dl>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Customer.Password)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Customer.Password)
            </dd>
        </dl>
        <div class="center-submit-del">
            <form method="post">
                <input type="hidden" asp-for="Customer.Id" />
                <input type="submit" value="Delete" class="input-negative" />
            </form>
        </div>
    </div>
</div>
<div class="div-route-links">
    <a asp-page="./Index" class="route-links">-Back to List-</a>
</div>
