@page
@model FribergCarRentalsRazorPages.Pages.Cars.HomeDetailsModel

@{
    ViewData["Title"] = "HomeDetails";
}

<h1 class="center">Car information</h1>

<div class="div-center-list-car">
    <div class="div-list-background-car">
        <dl class="row">
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Car.Brand):
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Car.Brand)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Car.Model):
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Car.Model)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Car.RentPricePerDay):
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Car.RentPricePerDay)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Car.Bookable):
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Car.Bookable)
            </dd>
        </dl>
        <img src=@Html.DisplayFor(model => model.Car.Image) width="90%" height="auto" />
    </div>
</div>
<div class="div-route-links">
    <a asp-page="/Index" class="route-links">-Back to Homepage-</a>
</div>
