@page
@model FribergCarRentalsRazorPages.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All the cars in the fleet</h1>

<p>
    <a asp-page="Create">Add new car to the fleet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].RentPricePerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Bookable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentPricePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page="/Admins/LoggedIn">Back to account overview</a>
