@page
@model FribergCarRentalsRazorPages.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="center">Account Information</h1>

<div class="div-center-list-booking">
    <div class="div-list-background-booking">

        <dl>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Admin.FirstName)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Admin.FirstName)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Admin.LastName)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Admin.LastName)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Admin.Email)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Admin.Email)
            </dd>
            <dt class="list-label">
                @Html.DisplayNameFor(model => model.Admin.Password)
            </dt>
            <dd class="list-data">
                @Html.DisplayFor(model => model.Admin.Password)
            </dd>
        </dl>
    </div>
</div>
<div class="div-route-links">
    <a asp-page="./Edit" asp-route-id="@Model.Admin.Id" class="route-links">-Edit-</a> |
    <a asp-page="/Admins/LoggedIn" class="route-links">-Back to account overview-</a>
</div>
